---
import queryString from "query-string";

interface Patron {
  name: string;
  tier?: string;
}

const headers = {
  Authorization: `Bearer ${import.meta.env.PATREON_TOKEN}`,
};

const fields = queryString.stringify({
  include: ["currently_entitled_tiers"],
  "fields[member]": ["full_name", "patron_status"],
  "fields[tier]": ["title"],
});

const usersRes = await fetch(
  `https://www.patreon.com/api/oauth2/v2/campaigns/${
    import.meta.env.PATREON_ID
  }/members?${fields}`,
  { headers }
);

const { data = [], included = [] } = await usersRes.json();

const tiers = Object.fromEntries(
  included.map((it: any) => [it.id, it.attributes.title])
);

const sorting = ["8787051", "8933196", "8787043", undefined];

const patrons: Patron[] = data
  .map((it: any) => ({
    name: it.attributes.full_name,
    tier: it.relationships.currently_entitled_tiers.data[0]?.id,
  }))
  .filter((it: Patron) => !it.tier || tiers[it.tier] !== "Free");

patrons.sort((a, b) =>
  sorting.indexOf(a.tier) > sorting.indexOf(b.tier) ? 1 : -1
);
---

<h4 class="mb-4 text-5xl font-medium text-center md:text-left">Donate</h4>
<div
  class="flex justify-evenly md:justify-start md:gap-4 shadow-sm pb-4 flex-col sm:flex-row gap-y-3"
>
  <a
    href={import.meta.env.PATREON}
    target="_blank"
    class="bg-[#f96854] rounded-lg text-white flex items-center"
  >
    <div class="w-10 flex justify-center items-center">
      <img class="h-4" src="/patreon.svg" />
    </div>
    <span class="flex flex-1 h-100 p-2 px-4 bg-[rgba(0,0,0,.1)]"
      >Support me on <span class="font-bold ml-1">Patreon</span>
    </span>
  </a>
  <a
    href={import.meta.env.KOFI}
    target="_blank"
    class="bg-[#13C3FF] rounded-lg text-white flex items-center"
  >
    <div class="w-10 flex justify-center items-center">
      <img class="h-4" src="/ko-fi.png" />
    </div>
    <span class="flex flex-1 h-100 p-2 px-4 bg-[rgba(0,0,0,.1)]"
      >Support me on <span class="font-bold ml-1">Ko-fi</span>
    </span>
  </a>
</div>

<h4 class="mb-2 mb-6 text-5xl font-medium text-center md:text-left">
  Supporters :)
</h4>

<div
  class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-6"
>
  {
    patrons
      .filter((it) => it.tier)
      .map((it) => (
        <div class="rounded-lg px-4 py-3 bg-[#e8a534]/5 flex flex-col justify-between items-start">
          <span class="text-2xl font-medium text-[var(--dim)]">{it.name}</span>
          <div class="text-white/50">
            {it.tier ? tiers[it.tier] : "previous supporter"}
          </div>
        </div>
      ))
  }
  {
    patrons
      .filter((it) => !it.tier)
      .map((it) => (
        <div class="rounded-lg px-4 py-3 bg-[#e8a534]/5 flex flex-col justify-between items-start opacity-40">
          <span class="text-2xl font-medium text-[var(--dim)]">{it.name}</span>
          <div class="text-white/50">previous supporter</div>
        </div>
      ))
  }
</div>
